* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/******* HEADER *******/

header {
    width: 100%;
    height: 120px;
    background: #000;
    border-top: 5px solid #40aed4;
}

nav {
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.nav-grid {
    display: grid;
    grid-template-columns: 350px 1fr;
    padding: 0;

}
.logo {
    margin-top: 30px;
    color: #fff;
    align-items: center;
}
.logo h1 {
    font-size: 32px;
    text-transform: uppercase;
}
.logo span {
    font-size: 18px;
}

ul.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 45px;
}
ul.menu li {
    list-style: none;
}
ul.menu li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    padding: 5px 10px;
}
ul.menu li a:hover {
    background: #40aed4;
    padding: 5px 10px;
    border-radius: 5px;
}