* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

body{
	margin: 0 auto;
	background-image: url(https://www.slamtec.com/images/athena/athena_02.jpg);
	background-repeat: no-repeat;
	background-size: 100% 760px;
    background-color: transparent;
}

.container{
	width: 500px;
	height: 450px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.7);
	margin-top: 160px;
}

.container img{
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    border-radius: 50px;
	width: 150px;
	height: 150px;
	margin-top: -60px;
}

input[type="text"],input[type="password"]{
	margin-top: 30px;
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
}

.form-input::before{
	content: "\f007";
	font-family: "FontAwesome";
	padding-left: 07px;
	padding-top: 40px;
	position: absolute;
	font-size: 35px;
	color: #2980b9; 
}

.form-input:nth-child(2)::before{
	content: "\f023";
}

.btn-login {
	padding: 10px;
    font-size: 20px;
    color: white;
    background: #4dc9ce;
    border: none;
    border-radius: 5px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff9d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
	.container{
		width: 480px;
		height: 450px;
		text-align: center;
		margin: 0 auto;
		background-color: rgba(44, 62, 80,0.7);
		margin-top: 160px;
	}

	.img {
		text-align: center;
	}
	.form-input::before {
		text-align: center;
	}
}